# Replace with your actual domain or DuckDNS domain
siapgrek.duckdns.org {
    # Auth Service
    handle /api/auth* {
        reverse_proxy auth-service:3000
    }

    # Analytic Service
    handle /api/v1/telemetry* {
        reverse_proxy analytic-service:3000
    }
    handle /api/v1/command-log* {
        reverse_proxy analytic-service:3000
    }

    # Intelligent Service
    handle /predict* {
        reverse_proxy intelligent-service:3003
    }
    handle /predictions* {
        reverse_proxy intelligent-service:3003
    }
    handle /api/v1/insights* {
        reverse_proxy intelligent-service:3003
    }
    handle /api/v1/chat* {
        reverse_proxy intelligent-service:3003
    }
    handle /api/v1/chat-sessions* {
        reverse_proxy intelligent-service:3003
    }
    handle /api/v1/knowledge* {
        reverse_proxy intelligent-service:3003
    }
    handle /uploads* {
        reverse_proxy intelligent-service:3003
    }

    # Ingestion Service
    handle /api/v1/command* {
        reverse_proxy ingestion-service:3005
    }
}
